@tailwind base;
@tailwind components;
@tailwind utilities;
/* NOTE: UNTOUCHED */
:root {
  --background: #ffffff;
  --foreground: #373737;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #373737;
    --foreground: #ededed;
    box-sizing: border-box;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
